#topmenus {
	position: fixed;
	background-color: green;
	z-index: 1000;
	width: 100%;
	bottom-border: 0;
	bottom-margin: 0;
	top: 0;
	left: 0;
}

#main {

	background-color: powderblue;
	height: 2800px;
	width: 460px;
	
}


#main_super {
	position: absolute;
	width: 460px;
	background-color: blue;
	left: 1.7in;
	top: 1.5in;
	
}
#leftmenu {
	margin-left: 10px;
	/*float:left;*/
	position: fixed;
	top: 1.8in;
	
}

html {
	background-color: beige;
	
}

